<link rel="stylesheet" href="{{ .Site.BaseURL }}css/my-style.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/syntax.css" />

<!--
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/highlightjs@9.12.0/styles/github-gist.css"
/>
-->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6H2M78RD8J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6H2M78RD8J');
</script>
